body {
  background-color:#eceff1;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  
}

img {
  display: block;
}

.show-data {
  width: 100%;
  background-color: #cfd8dc;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: aqua;
}

.show-info {
  width: 100%
}

@media all and (min-width: 800px) {
  .show-data {
    display: flex;
  }
  .show-info {
    padding: 10px;
  }
}